h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header-container {
    display: flex;
    align-items: center;
    gap: 76px;
}
.page-header {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.logo-dark {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.page-nav {
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
    position: relative;
}
.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
}
.page-address {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-left: auto;
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-link {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url(../images/office.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-title h1 {
    max-width: 496px;
    margin: 0 auto;
    text-align: center;
}
.order-btn {
    display: inline-flex;
    border-radius: 4px;
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    border: none;
    cursor: pointer;
}
.features {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
}
.features-item {
    width: 264px;
}
.features-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}

.section-team {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.section-title {
    text-align: center;
    margin-bottom: 72px;
}

.section-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}
.section-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.section-item img {
    display: block;
    width: 100%;
    height: auto;
}
.team-info {
    padding: 32px 16px;
}
.social-links {
    display: flex;
    gap: 24px;
    padding-top: 8px;
}
.social-links .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links .icon {
    fill: #F4F4FD;
}
.social-links .link:hover {
    background-color: #404BBF;
}
.social-media .link:hover {
    background-color: #31D0AA;
}

.section-portfolio {
    padding: 120px 0;
}
.list-portfolio {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.item-portfolio {
    flex: 0 0 calc((100% - 2 * 24px) / 3);
    text-align: left;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-portfolio:hover {
    cursor: pointer;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.item-portfolio img {
    display: block;
    width: 100%;
    height: auto;
}
.portfolio-thumb {
    position: relative;
    overflow: hidden;
}
.overlay {
    padding: 8px;
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-family: Roboto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-portfolio:hover .overlay {
    transform: translateY(0);
}
.team-info {
    text-align: center;
    padding: 32px 16px;
}
.portfolio-info {
    text-align: left;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.page-footer {
    padding: 100px 0;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}
.page-footer .container {
    display: flex;
    align-items: baseline;
    gap: 120px;
}
.footer-logo {
    padding: 0;
}
.text-footer {
    max-width: 264px;
    padding-top: 16px;
    text-align: left;
    margin: 0;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 208px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}









.page-header {
    color: #2E2F42;
}

.accent {
    color: #4D5AE5;
    letter-spacing: 0.54px;
}

.logo-dark {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.54px;
}

.nav-link {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.address-link {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.address-link:hover,
.address-link:focus,
.nav-link.current {
    color: #404BBF;
}

.page-main {
    background-color: #2E2F42;
    text-align: center;
}
.page-title h1 {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}
.order-btn {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-btn:hover,
.order-btn:focus {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #404BBF;
}

h2 {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.72px;
}

h3 {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
    margin-bottom: 8px;
}
.title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
}
body {
    color: #434455;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.section-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.72px;
}

.section-team {
    background-color: #F4F4FD;
}
.title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    background-color: #FFFFFF;
    letter-spacing: 0.4px;
}
.text {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: #FFFFFF;
    letter-spacing: 0.32px;
}

.page-footer {
    background-color: #2E2F42;
}
.logo-light {
    text-decoration: none;
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.54px;
}
.text-footer {
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}