ul {
list-style-type: none;
}
.page-header {
    color: #2E2F42;
}
.accent {
    color: #4D5AE5;
}
.logo-dark {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
}
.page-nav .link {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}
.page-nav .link:hover,
.page-nav .link:active {
    color: #404BBF;
}

.page-address .link {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}
.page-address .link:hover,
.page-address .link:focus {
    color: #404BBF;
}

.page-main {
    background-color: #2E2F42;
    text-align: center;
}
.page-title {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1;
}
.order-btn {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
.order-btn:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #404BBF;
}

h2 {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}

h3 {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.section-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
}

.section-team {
    background-color: #F4F4FD;
}
.title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    background-color: #FFFFFF;
}
.text {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: #FFFFFF;
}
.section-list {
    background-color: #FFFFFF;
}
.page-footer {
    background-color: #2E2F42;
}
.logo-light {
    text-decoration: none;
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
}
.text-footer {
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}